
    <div class="container-fluid box">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 test-title">
                <h1 class="recipe-name">{{recipe.name}}</h1>
            </div>
        </div>

        <div class="row img-background">
            <div class="col-md-offset-2 col-md-6">
                <img ng-src="{{recipe.photo}}" width="940px" height="627px">
            </div>
        </div>

        <div class="row move-to">
            <div class="col-md-offset-3 col-md-4">
                <span>Поместить рецепт в:</span>
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-primary commonButton {{recipe.selectedLiked}}" ng-click='like()'>Избранное</button>
                    <button class="btn btn-primary commonButton {{recipe.selectedPurchase}}" ng-click='purchase()'>Покупки</button>
                    <button class="btn btn-primary commonButton {{recipe.selectedPlane}}" ng-click='plane()'>План</button>
                </div>
            </div>
            <div class="col-md-2">
                <a href="#/recipes/page-edit/:{{recipe.id}}" class="btn btn-default change-button commonButton">Изменить</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {{recipe.description}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <hr>
                <ul class="opened-recipe-ingredients">
                    <li ng-repeat="ingr in recipe.ingredients track by $index">{{ingr.ingredients}}</li>
                </ul>
                <hr><br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <p ng-bind-html="recipe.instruction"></p>
            </div>
        </div>

    </div>
