<div class="content">
    <h1>Что приготовить сегодня?</h1>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" ng-class="{'active': item.active}" ng-repeat="item in myData" data-slide-to="{{$index}}"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{'active': item.active}" ng-repeat='item in myData'>
                <img ng-src="{{item.photo}}" alt="pic">
                <div class="carousel-caption">
                    <ul>
                        <a href="#/ideas-edit/:{{$index}}"><h3>{{item.name}}</h3></a><hr>
                        <li>{{item.description | cut : true : 200}}</li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>